* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "微软雅黑";
  line-height: 1.6;
}

body {
  width: 100%;
  background-color: #333333;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  scroll-snap-align: center;
}

h1 {
  font-size: 3em;
}

p {
  font-size: 1.5rem;
}
nav {
  width: 100%;
  position: fixed;
  background-color: #000000;
  opacity: 0.8;
  font-size: 16px;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  width: 100%;
}

a {
  text-decoration: none;
  color: #f4f4f4;
  display: block;
  padding: 10px 30px;
}

a:hover {
  color: skyblue;
}

#home {
  background-image: url(https://images.pexels.com/photos/34140/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=1&w=500);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
#about {
  background-image: url(https://images.pexels.com/photos/1591060/pexels-photo-1591060.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
#server {
  background-image: url(https://images.pexels.com/photos/270637/pexels-photo-270637.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
#contact {
  background-image: url(https://images.pexels.com/photos/270435/pexels-photo-270435.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

p {
  padding: 30px 200px;
}
